.selected {
    background-color: white;
}
.deselected {
    background-color: red;
}

.table{
    display: flex;
    max-width: 100%;
    overflow-x: auto;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.selection{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container {
    height: 100px;
    overflow-y: auto;
    padding: 5px;
    background-color: rgb(246 244 240 );
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    font-family: 'roboto';
    font-size: 20px;
    padding: 3px 2px;
    cursor: pointer; 
}

li.choose {
    text-decoration: underline;
    text-decoration-color: red;
    font-weight: 600;
}

.content{
    width: 350px;
}

.header{
    font-size: 30px;
    padding: 2px;
    border-bottom: solid 1px #e5e7eb;
    background-color: #ffffff;
    height: 40px;
}

@media(max-width:768px){
    .selection{
        flex-direction: column;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .table{
        min-width: 350px;
    }
    

}