@font-face {
    font-family: 'f1bold';
    src: url('fonts/Formula1-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'f1regular';
    src: url('fonts/Formula1-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'f1wide';
    src: url('fonts/Formula1-Wide.otf');
    font-weight: normal;
    font-style: normal;
}

.selected {
    background-color: white;
}
.deselected {
    color: red;
    background-color: black;
}

.table{
    font-family: 'f1regular';
    display: flex;
    max-width: 100%;
    overflow-x: auto;
}

#table-container{
    background-color:white;
    padding: 5px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.selection{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container {
    height: 100px;
    overflow-y: auto;
    padding: 5px;
    background-color: rgb(246 244 240 );
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    font-family: 'f1regular', 'roboto';
    font-size: 18px;
    padding: 3px 2px;
    cursor: pointer; 
}

li.choose {
    font-family: 'f1bold';
    text-decoration: underline;
    text-decoration-color: red;
    font-weight: 600;
}

.content{
    width: 350px;
}

.header{
    font-family: 'f1regular';
    font-size: 24px;
    padding: 2px;
    border-bottom: solid 1px #e5e7eb;
    background-color: #ffffff;
    height: 40px;
}

@media(max-width:1080px){
    .selection{
        flex-direction: column;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .table{
        min-width: 350px;
    }
    #driver-stints-form{
        max-width: 350px
    }
    

}

.HARD{
    background-color:#e0e0e0;
}
.MEDIUM{
    background-color: yellow;
}
.SOFT{
    color: white;
    background-color: Red;
}
.INTERMEDIATE{
    background-color: aqua;
}
.WET{
    color: white;
    background-color: blue;
}

#driver-stints-form{
    /* min-width: 350px; */
    flex-wrap: wrap;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    gap: 10px;
}

label{
    font-family: 'f1regular';
    font-size: 14px;
}

.drivername{
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 5px;
}

.driver-div{
    width: 150px;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
}

button.del-button{
    height: 20px;
    width: 100%;
    color: red;
    font-weight: 1000;
    font-size: 12px;
    padding: 2px;
    border: none;
    background-color:#15151e;
    border-radius: 5px;
}

/* ------------------------- */
.border-left {
    border-left: 3px solid black; /* Thicker border */
}
.border-right{
    border-right: 3px solid black; /* Thicker border */
}

.border-bottom{
    /* border:3px solid black; */
    border-bottom: 3px solid black;
}

.border-top{
    border-top: 3px solid black;
}

table {
    border-collapse: collapse;
    border: 3px solid black;
}

th, td {
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}

.export{
    display: flex;
    gap: 10px;
}

#update{
    color: white;
    font-size: 20px;
    padding: 8px;
    border: 2px solid #15151e;
    background-color:red;
    border-radius: 5px;
}

.export>button:nth-child(1){
    color: white;
    font-size: 20px;
    padding: 10px;
    border: none;
    background-color:#00ac47;
    border-radius: 5px;
}

.export>button:nth-child(2){
    color: white;
    font-size: 20px;
    padding: 10px;
    border: none;
    background-color:#15151e;
    border-radius: 5px;
}

.footer-content{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 2px;
    font-size: 18px;
    
}